@import "tailwindcss";

:root {
	--background: #ededed;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #171717;
		--foreground: #ededed;

		--primary: #B90512 ;
		--primary-foreground: #ededed;
		--secondary: #FF5F08 ;
		--secondary-foreground: #171717;

		--muted: #212121
		--muted-foreground: #ededed;
	}
}
